@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-teal-100: #ccfbf1;
  --color-teal-200: #99f6e4;
  --color-teal-300: #5eead4;
  --color-teal-400: #2dd4bf;
  --color-teal-500: #14b8a6;
  --color-teal-600: #0d9488;
  --color-teal-700: #0f766e;
}

body {
  background-color: #f0fdfa; /* teal-50 */
  color: #111827; /* gray-900 */
}
